<div class="top-nav">
    <button class="icon-button" data-action="backToDashboard"><i class="fas fa-chevron-left"></i></button>
    <span>Lesrooster Bouwer</span>
    <button class="icon-button"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div class="p-4">
    <p class="text-lg text-gray-300 mb-4">Stel gedetailleerde lesroosters samen, inclusief functies, voorschriften en specifieke dagconfiguraties.</p>
    <p class="text-lg text-gray-300 mb-4">Gebruik een drag-and-drop interface voor het bouwen van uw lesmodules.</p>
</div>
