<div class="top-nav">
    <button class="icon-button" data-action="backToDashboard"><i class="fas fa-chevron-left"></i></button>
    <span>Rust & Herstel Meting</span>
    <button class="icon-button"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div class="p-4">
    <p class="text-lg text-gray-300 mb-4">De Bluetooth meting functionaliteit is nu beschikbaar als een zwevende widget.</p>
    <p class="text-lg text-gray-300 mb-4">Klik op het Bluetooth icoon rechtsonder om de meting te starten of te stoppen.</p>
</div>
